<html>
	<h1><a href="/">GoSearch</a></h1>
    <form method="POST">
        <input type="text" placeholder="type anything" name="search" /><br />
        <input type="submit" />
    </form>
	{{ if .title }}
	<h1>{{ .title }}</h1>
	{{ end }}
	{{ if .items }}
	<h2>
		You query <u>{{ .query_item }}</u> result is: 
	</h2>
		{{ range .items }} 
			<h3>{{ .Title }}</h3>
			<a href="{{ .Link }}" target="_blank">{{ .Link }}</a>
			<p>{{ .Snippet }}</p>
		{{ end }}
	{{ end }} 
</html>
